doctype html
html
  head
    title= title
    link(href='/libs/bootstrap/css/bootstrap.css', rel='stylesheet')
    script(src='/libs/vue.js')
    script(src='/libs/jquery-3.1.1.js')
    script(src='/libs/jquery-ajax.js')
    script(src='/libs/flash.js')
    block page-libs

    link(rel='stylesheet', href='/css/main.css')
    block head-scripts
  include partials/notifications.pug


  script var flash_errors = !{flash_errors?JSON.stringify(flash_errors):false}
  script var flash_success = !{flash_success?JSON.stringify(flash_success):false}
  script var flash_warnings = !{flash_warnings?JSON.stringify(flash_warnings):false}
  script var flash_infos = !{flash_infos?JSON.stringify(flash_infos):false}

  script.
    flash_errors.forEach(flash.error)
    flash_success.forEach(flash.success)
    flash_warnings.forEach(flash.warning)
    flash_infos.forEach(flash.info)

  body
    include partials/nav.pug

    block content

    include partials/footer.pug

script(src='/libs/bootstrap/js/bootstrap.js')
block bottom-scripts
